.search, .add, .Create-Account{
    display: block;
    margin-top: 45px;
    margin-left: 45px;
    height: 40px;
}
.search {
    font-weight: 800;
    width: 175px;
    border-radius: 20px;
    color: #7dc8c8;
    border: 2px solid #7dc8c8;
    background-color: white;
}
.add {
    height: 40px;
    width: 40px;
    background-color: #00d1b2;
    color: white;
    border-radius: 50%;
    border: none;
}
.Create-Account {
    width: 200px;
    background-color: #2b78e4;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}