<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>Hello World!</h1>
    @{
        for(int i =0; i < 5; i++)
        {
            <p>@i</p>
        }
    }
    <h3>Coming From ViewBag: @ViewBag.heffamoose</h3>

    <form action="firstpost" method="post">
        <label for="names"> Better Names for ViewBag</label>
        <input type="text" name="names">
        <input type="submit" value="submit">
    </form>
    <h3>Suggested Names for ViewBag variables</h3>
    @{
        foreach(string s in ViewBag.suggestions)
        {
            <p>@s</p>
        }
    }
</body>
</html>