@{
    ViewData["Title"] = "Home Page";
}
@model Icecream

<div class="text-center">
    <h1>Add your favorite Ice Cream</h1>
    <form action="/process" method="post">
        <div class="form-group">
            <label for="Flavor">Flavor</label>
            <input asp-for="Flavor">
            <span asp-validation-for="Flavor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Topping">Topping</label>
            <input asp-for="Topping">
            <span asp-validation-for="Topping" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="hasCherry">Has Cherry</label>
            <input asp-for="hasCherry">
            <span asp-validation-for="hasCherry" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Container">Container</label>
            <input asp-for="Container">
            <span asp-validation-for="Container" class="text-danger"></span>
        </div>
        <input type="submit" name="Submit" class="btn btn-primary">
    </form>
    <hr>
    <h3>All sumbited Ice Cream</h3>
    <table class="table table-striped">
        <tr>
            <th>Flavor</th>
            <th>Topping</th>
            <th>Has Cherry?</th>
            <th>Container</th>
            <th>Actions</th>
        </tr>
        @{
            foreach(Icecream i in ViewBag.allIceCreams)
            {
                <td>@i.Flavor</td>
                <td>@i.Topping</td>
                <td>@i.hasCherry</td>
                <td>@i.Container</td>
                <td><a href="/delete/@i.IcecreamId">Delete</a> | <a href="/edit/@i.IcecreamId">Edit</a></td>
            }
        }
    </table>
</div>