@{
    ViewData["Title"] = "Home Page";
}
@model Person

<div class="text-center">
    <h1>Add a Person</h1>
    <form action="/addPerson" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input asp-for="Age" class="form-control">
        <span asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-submit">
    </div>
    </form>
</div>
