@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
#nav{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    width: 50%;
    display: flex;
    align-items:center;
    list-style-type: none;
    justify-content:space-between;
    margin-right: 200px;
}

#nav a{
    color: white;
    text-decoration: none;
}

.nav-title{
    margin-left: 225px;
    color: white;
}
.btn{
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    justify-content: end;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
}

#body{
    height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

#Left-Container{
    height: 900px;
    width: 65%;
}
#Right-Container{
    height: 900px;
    width: 35%;
}
#UserProfile{
    width: 600px;
    height: 275px;
    border: 3px solid silver;
    margin: 25px;
}

.top{
    background-color: #17a2b8;
    height: 75px;
    display: flex;
    align-items: center;
}

.top>img {
    height: 75px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;

}
.bottom {
    margin-left: 25px;
    margin-top: 40px;
    background-color: #fff;
}
h2>img{
    height: 18px;
}
a>img{
    height: 18px;
}
#Education{
    width: 600px;
    height: 275px;
    border: 3px solid silver;
    margin-top: 75px;
}

.Education-Top{
    background-color: rgb(77, 77, 77);
    height: 35px;
}

#Education>h2{
    background-color: gray;
}

.Education-Bottom{
    margin-left: 25px;
    margin-top: 40px;
}

.dates{
    color: grey;
}

#Connection-Requests{
    width: 93%;
    height: 175px;
    border: 3px solid silver;
    margin: 25px;
}

.ReqestsTop {
    background-color: rgb(55, 65, 65);
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
}

.num1{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: silver;
    text-align: center;
}

.TopText{
    color: white;
    margin-left: 100px;
}
h4>img{
    height: 25px;
    text-align: center;
}

#YourConnections{
    width: 93%;
    height: 300px;
    border: 3px solid silver;
    margin: 25px;
}

.ConnectionsTop {
    background-color: rgb(55, 65, 65);
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
}

.num2{
    height: 25px;
    width: 44px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: silver;
    text-align: center;
}

.ConnectionsTopText{
    color: white;
    margin-left: 125px;
}
#RequestImg{
    margin-top: 25px;
    margin-top: 25px;
    text-align: center;
}

#Connectionimg{
    margin-left: 25px;
    margin-top: 25px;
}