@{
    ViewData["Title"] = "Home Page";
}
@model Chef
<div class="text-right">
    <a href="/new" class="btn btn-secondary">Add a Chef</a>
</div>

<div class="text-center">
    <h1>Check out our roster of Chefs!</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @{
            foreach(Chef i in ViewBag.allChefs)
            {
                var now = DateTime.Now;
                var age = now.Year - @i.DOB.Year;
                <tr>
                    <td>@i.FirstName</td>
                    <td>@age</td>
                    <td>@i.Dishes.Count</td>
                </tr>
            }
        }
    </table>
</div>
