*{
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}
#container{
    width: 60%;
    height: 100vh;
    margin: 0px auto;
}
.OctodexList{
    width: 90%;
    margin: 0px auto;
    background-color: lightseagreen;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.OctodexList > img{
    background-color: white;
    height: 200px;

}
.OctodexListSecond{
    width: 90%;
    margin: 0px auto;
    background-color: pink;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.OctodexListSecond > img{
    background-color: white;
    border: 1px solid white;
    height: 200px;

}
.OctodexListThird{
    width: 90%;
    margin: 0px auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.OctodexListThird > img{
    background-color: white;
    border: 1px solid white;
    height: 200px;

}