@model List<PlanWedding>
<div class="text-right">
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>
<h1 class="text-center">Welcome to the Wedding Planner</h1>

<hr>
<table class="table table-striped">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
    </tr>
    @{
        foreach(PlanWedding w in Model)
        {
            <tr>
                <td><a href="/Wedding/@w.PlanWeddingId">@w.WedderOne & @w.WedderTwo</a></td>
                <td>@w.Date </td>
                <td>@w.GuestList.Count</td>
                <td>
                    @{
                        if(ViewBag.LoggedInUser.UserId == w.UserId){
                            <a href="/Delete/@w.PlanWeddingId" class="text-danger">Delete</a>
                        } else {
                            if(w.GuestList.Any(r => r.UserId == ViewBag.LoggedInUser.UserId)){
                                <a href="/unrsvp/@w.PlanWeddingId/@ViewBag.LoggedInUser.UserId">UnRSVP</a>
                            } else {
                                <a href="/rsvp/@w.PlanWeddingId">RSVP</a>
                            }
                            
                        }
                    }
                </td>
            </tr>
        }
    }

</table>
<hr>
<div class="text-right">
    <a href="/NewWedding" class="btn btn-primary">New Wedding</a>
</div>