<div class="text-right">
    <a href="/Dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>
<h1 class="text-center">@ViewBag.Wedding.WedderOne & @ViewBag.Wedding.WedderTwo's Wedding</h1>
<h4>Date: @ViewBag.Wedding.Date</h4>
<h4>Guests: @ViewBag.Wedding.GuestList</h4>